<!DOCTYPE html>
<html lang="en">
<head>
    <title>Task List</title>
</head>
<body>
    <h1>Task List</h1>
    <a href="{% url 'tasks:task_create' %}">Add Task</a>
    {% if tasks %}
    <ul>
        {% for task in tasks %}
            <li>
                {{ task }}
                {{ task.title }} - {% if task.completed %}✅ Completed{% else %}❌ Pending{% endif %}
                <a href="{% url 'tasks:task_update' task.id %}">Edit</a> |
                <a href="{% url 'tasks:task_delete' task.id %}">Delete</a> 
                <!-- onclick="return confirm('Are you sure?');">Delete</a> -->
            </li>
        {% endfor %}
    </ul>
    {% else %}
      <p>Nothing</p>
    {% endif %}

    {% comment %} Add this where you want the logout button {% endcomment %}
    <form action="{% url 'tasks:logout' %}" method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Logout</button>
</form>
</body>
</html>
