<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    {% load static %}
    <link rel="stylesheet" href="{% static 'tasks/style.css' %}">
    <title>Recuperação de senha</title>
</head>
<body>
    <div class="wrapper">
        <nav class="nav">
            <div class="nav-logo">
                <p>Planner .</p>
            </div>
            <div class="nav-menu" id="navMenu">
                <ul>
                    <li><a href="#" class="link active">Página Inicial</a></li>
                    <li style="display:none"><a href="#" class="link">Calendário</a></li>
                    <li style="display:none"><a href="#" class="link">Tarefas</a></li>
                    <li style="display:none"><a href="#" class="link">Registros</a></li>
                </ul>
            </div>
            <!-- <div class="nav-button">
                <button class="btn white-btn" id="loginBtn">
                    <a href="index.html?form=login" class="button-link-login">Entrar</a>
                </button>
                <button class="btn" id="registerBtn">
                    <a href="index.html?form=register" class="button-link-register">Registrar</a>
                </button>
            </div> -->


            <div class="nav-menu-btn">
                <i class="bx bx-menu" onclick="myMenuFunction()"></i>
            </div>
        </nav>

        <div class="form-box">
            <form method="post">
                {% csrf_token %}
                <div class="top">
                    <header>Criar nova senha</header>
                </div>
                <div class="input-box">
                    <input type="password" class="input-field" placeholder="Digite a nova senha" name ="{{ form.new_password1.name }}" required id="{{ form.new_password1.id_for_label }}">
                    <i class="bx bx-lock-alt"></i>
                    {% if form.new_password1.errors %}
                        <div class="error-list">
                            {% for error in form.new_password1.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                <div class="input-box">
                    <input type="password" class="input-field" placeholder="Confirme a senha" name ="{{ form.new_password2.name }}" required id="{{ form.new_password2.id_for_label }}">
                    <i class="bx bx-lock-alt"></i>
                    {% if form.new_password2.errors %}
                        <div class="error-list">
                            {% for error in form.new_password2.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

                {% if form.non_field_errors %}
                    <div class="error-list non-field">
                        {% for error in form.non_field_errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endif %}

                <div class="input-box">
                    <input type="submit" class="submit" value="Enviar código">
                </div>
            </form>

            <!-- <div class="remember-container" id="remember">
                <div class="top">
                    <header>Criar nova senha</header>
                </div>

                <div class="input-box">
                    <input type="password" class="input-field" placeholder="Digite a nova senha">
                    <i class="bx bx-lock-alt"></i>
                </div>
                <div class="input-box">
                    <input type="password" class="input-field" placeholder="Confirme a senha">
                    <i class="bx bx-lock-alt"></i>
                </div>

                <div class="input-box">
                    <input type="submit" class="submit" value="Enviar código">
                </div>
            </div> -->
        </div>
    </div>   

</body>