<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    {% load static %}
    <link rel="stylesheet" href="{% static 'tasks/style.css' %}">
    <title>Recuperação de senha</title>
</head>
<body>
    <div class="wrapper">
        <nav class="nav">
            <div class="nav-logo">
                <a style="color: white;
                font-size: 1.56rem;
                font-weight: 600;
                text-decoration: none;" href="{% url 'tasks:authenticate' %}">Planner .</a>
            </div>
            <div class="nav-menu" id="navMenu">
                <ul>
                    <li style="display: none;"><a href="#" class="link active">Calendário</a></li>
                    <li style="display: none;"><a href="#" class="link">Tarefas</a></li>
                    <li style="display: none;"><a href="#" class="link">Relatórios</a></li>
                </ul>
            </div>

            <div class="nav-button">
                <button class="btn white-btn" id="loginBtn" onclick="backToLogin()">Entrar</button>
                <button class="btn" id="registerBtn" onclick="backToLoginRegister()">Registrar</button>
            </div>

            <div class="nav-menu-btn">
                <i class="bx bx-menu" onclick="myMenuFunction()"></i>
            </div>
        </nav>

        <div class="reset-message">

            <div class="reset-box">
                <header style="padding-bottom: 0.9rem;">Senha resetada com sucesso</header>
                <p style="font-size: 0.9375rem; font-weight: 500;color: #fff; text-align: center; padding-bottom: 1rem;">
                    Sua nova senha foi criada.
                    <br>
                    Prossiga para fazer login.
                </p>

                <div class="input-box">
                    <input type="submit" class="submit" value="Login" onclick="backToLogin()">
                </div>
            </div>
        </div>


    </div>   
    <script>
        const loginUrl = "{% url 'tasks:authenticate' %}";
        const registerUrl = "{% url 'tasks:authenticate' %}?showRegister=true"
        function backToLogin(){
            window.location.href = loginUrl;
        }
        function backToLoginRegister(){
            window.location.href = registerUrl;
        }

    </script>
</body>